<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Login Page</title>
</head>

<body>
    <h1>Welcome to my Login Page</h1>
    <p>My page content goes here.</p>
    <form action="register" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" value="" id="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">
        <br>
        <input type="submit" name="submit" value="Submit">
    </form>
</html>